<div ng-controller="HeaderController">
    <div class="container">
        <div class="col-lg-4" id="logoContainer">
            <a ui-sref="app" id="logo">Ausome Sports</a>
        </div>
        <div class="col-lg-8">
            <ul class="inline nav">
                <li>
                    <a ng-class="isActive('/')" ui-sref="app">Home</a>
                </li>
                <li>
                    <a ng-class="isActive('leagues')" ui-sref="app.leagues">Leagues</a>
                </li>
                <li>
                    <a>Nav Item</a>
                </li>
                <li>
                    <a>Nav Item</a>
                </li>
                <li>
                    <a ng-class="isActive('aboutus')" ui-sref="app.aboutus">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>