<div ng-controller="HomeController">

    <div class="container-fluid" style="padding:0">
        <div class="hasOverlay center-block" style="width:1280px">
            <img src="{{topBanner}}">
            <div class="overlay"></div>
            <div class="overlayContent">

                <div id="homeButtons" class="center-block">
                    <a ui-sref="app.leagues" class="btn btn-primary btn-lg">
                        <img src="{{volleyballImg}}" style="width:50px;">
                    </a>
                </div>

            </div>
        </div>
    </div>


    <div class="row row-centered">
        <div class="col-lg-1"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-1"></div>
    </div>

    <div class="row row-centered">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <img src="{{loadingImg}}" class="center-block">
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>