<div ng-controller="HomeController">

    <div class="container-fluid">
        <div class="center-block hasOverlay" style="max-width:1200px;">
            <img src="{{topBanner}}" style="width:100%; -webkit-filter: brightness(35%);">
            <div class="overlayContent">
                <div class="row">
                    <div class="col-md-3">
                        <div id="sports-nav">
                            <div class="sport-btn">
                                <a ui-sref="app.leagues" class="btn btn-primary btn-sm">
                                    <img src="{{volleyballImg}}" style="width:25px;">
                                    <span>&nbsp;&nbsp;&nbsp;Volleyball</span>
                                </a>
                            </div>
                            <div class="sport-btn">
                                <a ui-sref="app.leagues" class="btn btn-primary btn-sm">
                                    <img src="{{volleyballImg}}" style="width:25px;">
                                    <span>&nbsp;&nbsp;&nbsp;Volleyball</span>
                                </a>
                            </div>
                            <div class="sport-btn">
                                <a ui-sref="app.leagues" class="btn btn-primary btn-sm">
                                    <img src="{{volleyballImg}}" style="width:25px;">
                                    <span>&nbsp;&nbsp;&nbsp;Volleyball</span>
                                </a>
                            </div>
                            <div class="sport-btn">
                                <a ui-sref="app.leagues" class="btn btn-primary btn-sm">
                                    <img src="{{volleyballImg}}" style="width:25px;">
                                    <span>&nbsp;&nbsp;&nbsp;Volleyball</span>
                                </a>
                            </div>
                            <div class="sport-btn">
                                <a ui-sref="app.leagues" class="btn btn-primary btn-sm">
                                    <img src="{{volleyballImg}}" style="width:25px;">
                                    <span>&nbsp;&nbsp;&nbsp;Volleyball</span>
                                </a>
                            </div>
                            <div class="sport-btn">
                                <a ui-sref="app.leagues" class="btn btn-primary btn-sm">
                                    <img src="{{volleyballImg}}" style="width:25px;">
                                    <span>&nbsp;&nbsp;&nbsp;Volleyball</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>
    </div>

</div>