<div ng-controller="LeagueController">
    <div class="container">
        <div class="fakeHeader" style="height:100px"></div>
        <div>
            <div class="col-lg-1">s</div>
            <div class="col-lg-10 ccenter">
                <crisp>
                    <table>
                        <thead>
                            <tr>
                                <th>League</th><th>Level of Play</th><th>Day of Week</th><th>Gym Locations</th><th>Indoor/Outdoor</th><th>Start Date</th><th>Registration Deadline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Flame Ball</td><td>Blazin'</td><td>Tuesday</td><td>xxxx</td><td>Indoor</td><td>July 06, 2017</td><td>Jun 16, 2017</td>
                            </tr>
                            <tr>
                                <td>Luminosity</td><td>Blazin'</td><td>Monday</td><td>xxxx</td><td>Indoor</td><td>July 16, 2017</td><td>Jun 16, 2017</td>
                            </tr>
                            <tr>
                                <td>Sunny Delight</td><td>Chillin'</td><td>Sunday</td><td>xxxx</td><td>Outdoor Beach</td><td>July 21, 2017</td><td>Jun 16, 2017</td>
                            </tr>
                            <tr>
                                <td>Luigi Time</td><td>Chumps</td><td>Wednesday</td><td>xxxx</td><td>Indoor</td><td>Aug 01, 2017</td><td>Jun 16, 2017</td>
                            </tr>
                        </tbody>
                    </table>
                </crisp>
            </div>
            <div class="col-lg-1">s</div>
        </div>

    </div>
</div>
