<div ng-controller="LeagueController">
    <div class="container">
        <div>
            <div class="col-lg-12">
                <crisp>
                    <table>
                        <thead>
                            <tr>
                                <th>League</th>
                                <th>Level of Play</th>
                                <th>Day of Week</th>
                                <th>Gym Locations</th>
                                <th>Indoor/Outdoor</th>
                                <th>Start Date</th>
                                <th>Registration Deadline</th>
                            </tr>
                        </thead>
                        <tbody ng-if="!isLoading">
                            <tr ng-repeat="league in leagues" class="league-row" ng-click="expandLeague()">
                                <td>{{league.name}}</td>
                                <td>{{league.difficulty}}</td>
                                <td>{{league.day_of_week}}</td>
                                <td>{{league.location}}</td>
                                <td>{{league.indoor_outdoor}}</td>
                                <td>{{league.start_date | date}}</td>
                                <td>{{league.reg_date | date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </crisp>
                <div class="loading ccenter" ng-if="isLoading">
                    <img src="{{loadingImg}}" class="img-md">
                </div>
            </div>
        </div>

    </div>
</div>